<div class="container">
    <div class="row">
        <div class="col-12 bg-danger bg-gradient">
            <h3 class="display-4 text-light text-center p-5">Impariamo angular</h3>
        </div>
        <ul class="text-dark">
            <li *ngFor="let i of lista">{{i}}</li>
        </ul>
    </div>
</div>
