<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            <h2 class="display-4 text-center">Perchè usare Angular?</h2>
            <p class="lead">
                Angular consente di scomporre l'interfaccia utente in blocchi gestibili e di separare l'interfaccia utente dall'implementazione. Ciò rende la generazione di pagine lato server molto più semplice, ma Angular diventa davvero una realtà quando si passa a applicazioni pure basate su JavaScript. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsam neque ad perspiciatis unde! Velit esse veritatis eos ducimus illum! Laboriosam quidem quisquam sequi autem praesentium ipsam, in aut ullam.
            </p>
        </div>
        <div class="col-12 text-center">
            <img class="img-fluid w-50" src="../../assets/angular.png" alt="">
        </div>
        
    </div>
</div>