<div class="container my-2">
    <div class="row">
        <h2 *ngIf="loading">LOADING...</h2>
        <div class="col-12">
           <div class="container text-center my-5">
                <label for="search-box" class="mx-4 fw-bold fs-3">Cerca Articoli per ID</label>
                <input class="form-control" #searchBox id="search-box">
                <button class="btn btn-success my-3" (click)="loadArticleById(searchBox.value)">Cerca
                </button>
                <li *ngIf="article != null">{{article.id}} - {{article.title}}</li>
           </div>
           <ul *ngIf="article == null">
               <h2 class="text-center my-5">Tutti Gli Articoli</h2>
               <li class="my-3" *ngFor="let a of articles" >
                ID: {{a.id}} - {{a.title}}
               </li>
           </ul>
        </div>
    </div>
</div>