<div class="container my-5 py-5">
    <div class="row">
        <h2 *ngIf="loading">LOADING...</h2>
        <div class="col-12">
           <h2 class="text-center">Tutti Gli Utenti</h2>
           <ul>
               <li class="my-3" *ngFor="let u of users" >
                ID: {{u.id}} - {{u.name}}
               </li>
           </ul>
        </div>
    </div>
</div>