<div id="about" *ngIf="show" class="container my-5 py-5">
    <div class="row">
        <p class="lead">
            {{today | date: 'dd/MM/yyyy HH:mm:ss'}}
        </p>
        <h2 [style.color]="color" class="text-center display-4 mb-5">Angular</h2>
        <div class="col-md-6">
            <p class="lead">
                Scopri un modo per creare applicazioni con Angular e riutilizzare il codice e le capacità per creare app per qualsiasi destinazione di distribuzione. Per web, web mobile, mobile nativo e desktop nativo. 
            </p>
            <p class="lead">
                Raggiungi oggi la massima velocità possibile sulla piattaforma Web e portala oltre, tramite i Web Worker e il rendering lato server. Angular ti dà il controllo sulla scalabilità. Soddisfa enormi requisiti di dati creando modelli di dati su RxJS, Immutable.js o un altro modello push.
            </p>
            <select (change)="hello(selectField)" #selectField class="form-select w-25">
                <option selected>Cambia Colore</option>
                <option value="1">Rosso</option>
                <option value="2">Verde</option>
                <option value="3">Blu</option>
            </select>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="../../assets/angular.png" alt="">
        </div>
    </div>
</div>
<div class="container text-center m-5">
  <button id="button" (click)="showHidden()" class="btn btn-success">Mostra/Nascondi</button>  
</div>
<app-middlebar></app-middlebar>


